<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Potin <%= id %></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Potin n° <%= id %></p>
    <p>"<%= gossip.content %>"</p>
    <p>... et c'est <%= gossip.author %> qui le dit !</p>
    <a href="/gossips/<%= id %>/edit">MODIFIER le potin</a><br/>
    <a href="/">retour au menu</a>
  </body>
</html>
